<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>tp1_info921</display-name>
  <servlet>
    <display-name>ServletClient</display-name>
    <servlet-name>ServletClient</servlet-name>
    <servlet-class>client.ServletClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletClient</servlet-name>
    <url-pattern>/clients</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Connexion</display-name>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>client.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Suivis</display-name>
    <servlet-name>Suivis</servlet-name>
    <servlet-class>client.Suivis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Suivis</servlet-name>
    <url-pattern>/suivis</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddColis</display-name>
    <servlet-name>AddColis</servlet-name>
    <servlet-class>client.AddColis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddColis</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddSuivis</display-name>
    <servlet-name>AddSuivis</servlet-name>
    <servlet-class>client.AddSuivis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSuivis</servlet-name>
    <url-pattern>/addSuivis</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ShowSuivis</display-name>
    <servlet-name>ShowSuivis</servlet-name>
    <servlet-class>client.ShowSuivis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSuivis</servlet-name>
    <url-pattern>/showSuivis</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>